<form class="col-md-4 col-md-offset-4" action="/register" method="post">
    <div class="form-group">
        <input type="email" class="form-control" name="email" required="required" placeholder="Email">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" required="required" placeholder="Пароль">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="first_name" required="required" placeholder="Ім'я">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="last_name" required="required" placeholder="Прізвище">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="contract" placeholder="Номер договору">
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary btn-block" value="Відправити" />
        <span class="pull-right"><a href="/login">Існуючий користувач</a></span>
    </div>
</form>
